h1 {
    font-size: 2rem;
    display: inline-block;
    max-width: 48%;

}
h4 {
    max-width: 48%;
    display: inline-block;
    margin-left: 4rem;
    color: #888;
}

.status-btns {
    margin-bottom: 1rem;
}
.status-btns .btn {
    margin-right: 8px;
}